body{
  background-color: antiquewhite;
}
h1{
 color: cornflowerblue;
}

.div_btn{
  width: 150px;
  height: 70px;
  margin: 20px;
  text-align: center;
  line-height: 70px;
  border-radius: 50px;
  border: 10px ridge rgba(20, 48, 73, 50);
  border-color: black;
  background-color: snow;
  font-size: 16px;
}
a{
  text-decoration: none;
}
.div_btn:hover{
  background-color: aqua;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
