body {
  background-color: #222;
}

#frame {
  background-color: white;
  align-content: center;
  width: 300px;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
}

h1 {
  color: blue;
  font-weight: bold;
}

h3{
  background-color: #222;
  border-radius: 5px;
  color: yellow;
  padding: 5px;
}